.address__item {
  margin-bottom: 9px;
}
.map {
  color: var(--dark-bg-color-text);
}
.mail,
.tell {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((50% - 45px) / 2);
    text-align: start;
    margin-bottom: 0;
  }
}
