.social-networking {
  font-weight: $fw500;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.social-networking__item {
  padding: 0 10px;
  margin-bottom: 10px;
}

.social-networking__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-networking__link {
  color: var(--accent-color-text);
}
